<div class="container" align="center">
  <h1 class="title">Bate Papo</h1>
  <div id="messages">
    <%= render @messages %>
  </div>
  <form>
    <input type="text" placeholder=" Diga alguma coisa :) " data-behavior="chat_speaker" />
  </form>
</div>
